<ion-view view-title="Main Menu" name="menu-view">
  <ion-content class="">
     <div class=" row row-center" style="margin-top:10%;">
       <div class="col">
        <div class="MenuAlternatives">
           <ul>
             <li><a class="button-style" ui-sref="testsList" tabindex="1"><p class="icon icon ion-compose"></p>Start Ny Test</a></li>
             <li><a class="button-style" href="#/overview" tabindex="2"><p class="icon icon ion-clipboard"></p>Oversikt</a></li>
             <li><a class="button-style" href="#/options" tabindex="3"><p class="icon icon ion-wrench"></p>Instillinger</a></li>
            <!-- <li><a href="">Lag en ny test mal</a></li> -->
          </ul>
       </div>
     </div>
   </div>
  </ion-content>
</ion-view>
