<ion-view view-title="Main Menu" name="menu-view">
  <ion-content class="">
    

<div class=" row row-center" style="margin-top:20%;">
    <div class="col">
            <div class="MenuAlternatives">
        <ul>
            <li><a ui-sref="startTestNew">Start Ny Test</a></li>
            <li><a href="#/overview">Oversikt</a></li>
            <li><a href="#/options">Instillinger</a></li>
            <!-- <li><a href="">Lag en ny test mal</a></li> -->
        </ul>
    </div>
    </div>
</div>


  </ion-content>
</ion-view>