<ion-view>
    <ion-view class="left-view">
    <ion-content class="">
    <div class="row ">
        <div class="col">
            <div class="row row-center oversiktListHeader">
                <div class="col">
                    <h2>Test Typer</h2>
                </div>
            </div>
            <ion-list>
                <ion-item ng-repeat="temp in templates" ng-click="TestTypeClick(temp)"  ng-class="{active: changeActiveTestType(temp)}" >
                    <h2>{{temp.title}}</h2>
                    <span>id: {{temp._id}}</span>
                    <p>{{temp.description}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
    </ion-content>
    </ion-view>

    <ion-view class="mid-view">
    <ion-content class="">
    <div class="row ">

        <div class="col">
            <div class="row row-center oversiktListHeader">
                <div class="col">
                    <h2>Test Objekter</h2>
                </div>
            </div>
             <ion-list>
                <ion-item ng-repeat="test in testObjects" ng-click="updateTestDetails(test)"  >
                    <h2>{{test.Titel}}</h2>
                </ion-item>
            </ion-list>
        </div>
    </div>
    </ion-content>
    </ion-view>

    <ion-view class="right-view">
    <ion-content class="">
    <div class="row ">
        <div class="col">
            <div class="row row-center oversiktListHeader">
                <div class="col">
                    <h2>Test Detaljer</h2>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
    </ion-view>
</ion-view>