<ion-view class="pane-relative" view-title="Ny test">
<div class="bar bar-subheader">
    <div class="row">
        <div class="col">
            <h4 class="text-center" 
            ng-click="previousSection()"
            style="margin-top:0px; color:#999">
            {{getSection(sectionIndex-1).name}}
            </h4>
        </div>
        <div class="col">
            <h4 class="text-center" 
            style="margin-top:0px">
            {{sectionsInfo[sectionIndex].name}}
            </h4>
        </div>
        <div class="col">
            <h4 class="text-center" 
            ng-click="nextSection()" 
            style="margin-top:0px; color:#999">
            {{getSection(sectionIndex+1).name}}
            </h4>
        </div>
    </div>
</div>
<ion-content has-subheader="true" class="padding ">
<br><br>
<!-- GENERAL INFOMRASJON HERE -->
<!-- COMPANY INFO -->
<!-- TEST OBJECTS -->
<!-- INDICATOR HERE -->
<!-- OVERVIEW HERE -->
</ion-content>
</ion-view>