<ion-view>
<ion-content>
        <div ng-hide="infoMsg.hide" ng-repeat="msg in infoMsg.messages">
    <div class="item padding" >
        <p>{{msg.text}}</p>
    </div>
</div>
<button class="button button-stable">Got it!</button>
</ion-content>
</ion-view>
<ion-view view-title="Ny Test" name="nmytest-view">



<ion-content  style="position:relative;margin-top: 0px;" has-bouncing="true">
<br><br>
<div ng-repeat="template in templates" class="list"  >
    <div class="list-item padding" ng-class-odd="'odd'" ng-class-even="'even'">
        <h3>{{template.title}}</h3>
        <div>
            <p><b>Beskrivelse: </b>{{template.description}}</p>
            <p><b>Fritekst: </b>{{template.freetext}}</p>
            
            <p><b>Indicators: </b>{{template.indicators.length}}</p>
            <p><b>Testobjekter: </b>{{template.test_objects.length}} </p>
            <button class="button button-calm" ng-click="startTest(template)">Start</button>
            <button class="button" ng-click="infoMsg.messages=[{text:'Ikke implementert.'}];infoMsg.hide=false;">Se gjennom</button>
        </div>
    </div>
</div>
</ion-content>
</ion-view>