<ion-view view-title="Ny Test" name="nmytest-view">

<ion-content >
<br><br>
<div ng-repeat="template in templates">
    
    <div  class="item activity"  >
        <div class="row activity-bar">
            <h2>{{template.title}}</h2>
        </div>
        <div class="list-item padding activity-input" >
            <div>
                <p><b>Beskrivelse: </b>{{template.description}}</p>
                <p><b>Fritekst: </b>{{template.freetext}}</p>
                
                <p><b>Indicators: </b>{{template.indicators.length}}</p>
                <p><b>Testobjekter: </b>{{template.test_objects.length}} </p>
                <button class="button" ng-click="startTest(template)">Start</button>
                <button class="button" >Se gjennom</button>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>