<div class="row test-section">
    <div class="col">
        <h3>Test Object 1 av 1</h3>
        <p>
            Beskrivelse: What a horse is, everybody knows.
        </p>
        <div class="list" ng-repeat="input in testObjects[getSection(sectionIndex).index].properties">
            
            <div class="test-object input" style="border:1px solid grey; padding:20px">
                <p>
                    <h4>Egenskap: {{input.text}}</h4>
                </p>
                <!-- <p>
                    {{input.type}} <span ng-show="input.subtype">{{input.subtype}}</span>
                </p> -->
                
                <div ng-include="getInputFieldTemplate(input.type)"></div>
                <ion-checkbox ng-model="input.not_relevant">Ikke relevant</ion-checkbox>
            </div>
        </div>
        
    </div>
</div>