<div class="row test-section">
    <div class="col">
    <!-- <h2>{{currentIndicator.name}}</h2> -->
    <!-- <hr> -->
    <p><b>Beskrivelse: </b>{{currentIndicator.description}}
    A nice, simple indicator. </p>
    <p ng-show="currentIndicator.comment != null"><b>Kommentarer: </b>{{currentIndicator.comment}}<span ng-hide="currentIndicator.comment !=''">ingen</span></p>
    <p>
        <b>Antall aktiviteter: </b>{{currentIndicator.activities.length}}
    </p>
        
        <div ng-repeat="activity in currentIndicator.activities">
            <div ng-include="'templates/partials/inputActivity.html'"></div>
        </div>
        
    </div>
</div>
