/* Empty. Add your own CSS if you like */
.pane.left-view {
  left: 0;
  width: 20%;
}
.pane.mid-view {
  left: 20%;
  width: 30%;

}
.pane.right-view {
  left: 50%;
  width: 50%;
  
}
.odd{
    background-color:#eee;
}
/*.pane-relative:{position:relative;}

.pane, .view{
    position:relative;
}*/
.test-section{
    width:60%;margin:auto
}
.activity {
    margin-top:20px;
    padding-top:0;
    padding-left:0;
    padding-right:0
}
.activity-bar{
    background:#666;
    margin-bottom:15px;
    padding: 10px 5px 10px 15px;
    color:#fff;
}
.activity-bar h3, .activity-bar h2,.activity-bar h1,.activity-bar h4,.activity-bar p,.activity-bar b,.activity-bar span,.activity-bar a{
    color:#fff;
    text-transform: uppercase;
    font-weight:600;
}
.activity-input{
    margin: auto 20px;
    padding: 15px 0;
}
.activity-input h3{
    margin-bottom:8px;
    font-size: 1.1em;
}